body {
  background-color: white;
}

#banner {
  width: 300px;
  height: auto;
}

#radio-selectors {
  display: flex;
  flex-direction: column;
}

#cocktail-recipe {
  margin-top: 30px;
}

h1 {
  font-family: 'Anton', monospace;
  font-size: 80px;
}

h5 {
  font-family: 'Raleway', sans-serif;
  margin-top: 50px;
}

#results-modal {
  width: auto;
  height: auto;
}

#button-container {
  padding: 5px;
}