body {
  background-color: white;
}

#radio-selectors {
  display: flex;
  flex-direction: column;
}

#cocktail-recipe {
  margin-top: 30px;
}

h1 {
  font-family: 'Poiret One', cursive;
}

h5 {
  font-family: 'Raleway', sans-serif;
  margin-top: 50px;
}

#results-modal {
  width: auto;
  height: auto;
}