body {
  background-color: white;
}

#banner {
  width: 300px;
  height: auto;
}

#radio-selectors {
  display: flex;
  flex-direction: column;
}

#cocktail-recipe {
  margin-top: 30px;
}

h1 {
  font-family: 'Anton', monospace;
  font-size: 80px;
  color: #daa520;
  text-shadow: 1px 1px 5px grey;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

h5 {
  font-family: 'Raleway', sans-serif;
  margin-top: 50px;
}

#results-modal {
  width: auto;
  height: auto;
}

#button-container {
  padding-top: 20px;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
  border: 2px solid goldenrod;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
  background-color: goldenrod;
}

/* label focus color */
    .input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
     color: goldenrod !important;
    }

/* label underline focus color */
    .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
     border-bottom: 1px solid goldenrod !important;
     box-shadow: 0 1px 0 0 goldenrod !important;
    }